.contact-container {
    padding: 2rem;
    text-align: center;
    background-color: #FFFFEB;
    min-height: 100vh;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-item {
    background-color: #c3dadc;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.contact-item a {
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item:hover {
    transform: translateY(-5px);
}

.contact-item span {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.contact-item a:hover {
    color: #0073b1; /* LinkedIn color example */
}

.contact-item a:active {
    color: #1c1e21; /* Darker color for active link */
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}
