/* MainContent Styling */
main {
    background-color: #FFFFEB;
    color: #484849;
    padding: 0;
    margin: 0;
    display: block;
}
body {
    margin: 0;
    padding: 0;
}
h2 {
    margin-top: 0;
    color: #3B3D40;
}

.about-me {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 0;
    height: 80rem;
}

.about-section,
.education-section,
.hobbies-section,
.skills-section,
.goals-section,
.contact-section {
    margin-bottom: 30px;
}

h2, h3 {
    color: #333;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    color: #444;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .about-me {
        width: 90%;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}


