/* ResumePage.css */
.resume-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-height: calc(100vh - 100px);
    padding: 2rem;
    background-color: #FFFFEB;
    box-sizing: border-box;
}

.resume {
    background-color: #FFFFEB;
    color: #484849;
    padding: 2rem;
    flex: 1;
    max-width: 90vw;
    text-align: center;
}

.resume h2 {
    margin-bottom: 1.5rem;
}

.pdf-iframe {
    width: 80%;
    height: 110vh;
    border: none;
    margin-top: 1rem;
}
