.scroll-arrow {
    position: absolute;
    bottom: 30px; /* Adjust this distance based on your design */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: bounce 1.5s infinite;
}

.scroll-arrow svg {
    width: 40px;
    height: 40px;
}

/*@keyframes bounce {*/
/*    0%, 100% {*/
/*        transform: translateX(-50%) translateY(0);*/
/*    }*/
/*    50% {*/
/*        transform: translateX(-50%) translateY(10px);*/
/*    }*/
/*}*/
